ONGOING: [Additions will be made to ticket] RFC's: Links that display a 404 when clicked

- Link 1: https://rfc.tari.com/RFC-0100_BaseLayer.html 
 - Found within: [RFC-0001/Overview](https://rfc.tari.com/RFC-0001_overview#rfc-0001overview)
 - Section: [Base Layer](https://rfc.tari.com/RFC-0001_overview#base-layer)
 - Link name: The Tari Base Layer

- Link 2: https://rfc.tari.com/RFC-0122_Burning.html
 - Found within: [RFC-0120/Consensus](https://rfc.tari.com/RFC-0120_Consensus#rfc-0120consensus)
 - Section: [Related Requests for Comment](https://rfc.tari.com/RFC-0120_Consensus#related-requests-for-comment)
 - Link name: RFC-0122: Burning outputs

- Link 3: https://github.com/tari-project/tari/blob/development/applications/tari_merge_mining_proxy
 - Found within: [RFC-0132/MergeMiningMonero](https://rfc.tari.com/RFC-0132_Merge_Mining_Monero#rfc-0132mergeminingmonero)
 - Section: [Merge Mining Proxy](https://rfc.tari.com/RFC-0132_Merge_Mining_Monero#merge-mining-proxy)
 - Link name: RFC-0122: Tari merge mining proxy

- Link 4: https://rfc.tari.com/RFCD-0303_DanOverview.html
 - Found within: [RFC-0170/NetworkCommunicationProtocol](https://rfc.tari.com/RFC-0170_NetworkCommunicationProtocol#rfc-0170networkcommunicationprotocol)
 - Section: [Related RFCs](https://rfc.tari.com/RFC-0170_NetworkCommunicationProtocol#related-rfcs)
 - Link name: RFC-0303: DAN Overview

- Link 5: https://rfc.tari.com/rfc-0170_NetworkCommunicationProtocol.html
 - Found within: [RFC-0172/PeerToPeerMessaging](https://rfc.tari.com/RFC-0172_PeerToPeerMessagingProtocol#rfc-0172peertopeermessaging)
 - Section: [Related Requests for Comment](https://rfc.tari.com/RFC-0172_PeerToPeerMessagingProtocol#related-requests-for-comment)
 - Link name: RFC-0170: NetworkCommunicationProtocol

- Link 6: https://rfc.tari.com/RFC-0120_TariScript.html
 - Found within: [RFC-0182/CommitmentSignatures](https://rfc.tari.com/RFC-0182_CommitmentSignatures#rfc-0182commitmentsignatures)
 - Section: [Related Requests for Comment](https://rfc.tari.com/RFC-0182_CommitmentSignatures#related-requests-for-comment)
 - Link name: RFC-0120: TariScript
